* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

.container {
    max-width: 80%;
    margin: 0 auto;
}



nav {
    display: flex;
    justify-content: space-between;


}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}


nav ul a {
    color: black;
    font-weight: 500;
    font-size: 18px;

}

.bg_nav {
    background-color: white;
}

.img {
    width: 1400px;
}

main {
    display: flex;


}

.box {
    width: 350px;
    background-color: red;
}

.box1 {
    background-color: blueviolet;
    width: 350px;
    display: flex;
    flex-direction: column-reverse;
    
}

.box2 {
    background-color: blue;
    width: 350px;
}

.box3 {
    background-color: #00695C;
    width: 350px;
     display: flex;
    flex-direction: column-reverse;
    
}

.h2{
    display: flex;
    flex-direction: column-reverse;
}